@model BanGiayTheThao.Models.SanPham

@{
    ViewData["Title"] = "Sua";
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Sản Phẩm</h1>
            </div>
        </div>
    </div>
</section>


<h4>SanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Sua" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdSanPham" class="control-label"></label>
                <input asp-for="IdSanPham" class="form-control" />
                <span asp-validation-for="IdSanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaSanPham" class="control-label"></label>
                <input asp-for="MaSanPham" class="form-control" />
                <span asp-validation-for="MaSanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSanPham" class="control-label"></label>
                <input asp-for="TenSanPham" class="form-control" />
                <span asp-validation-for="TenSanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaNhap" class="control-label"></label>
                <input asp-for="GiaNhap" class="form-control" />
                <span asp-validation-for="GiaNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChieuCaoDeGiay" class="control-label"></label>
                <input asp-for="ChieuCaoDeGiay" class="form-control" />
                <span asp-validation-for="ChieuCaoDeGiay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Chọn ảnh từ Máy tính:</label>
                <input type="file" name="imageFile" /> 
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

