
@{
    ViewData["Title"] = "QL";
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Quản Lí</h1>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <a type="submit" value="submit" class="primary-btn" asp-controller="Anh" asp-action="LstAnh"> QLẢnh</a>
    <a type="submit" value="submit" class="primary-btn" asp-controller="ChatLieu" asp-action="lisChatLieu"> Chất Liệu</a>
    <a type="submit" value="submit" class="primary-btn" asp-controller="NSX" asp-action="lisNSX"> NSX</a>
    <a type="submit" value="submit" class="primary-btn" asp-controller="KhuyenMai" asp-action="GetAllKM"> Khuyến mãi</a>
    <a type="submit" value="submit" class="primary-btn" asp-controller="KmSanPham" asp-action="GetAllKmSP"> Khuyến mãi sản phẩm</a>
    <a type="submit" value="submit" class="primary-btn" asp-controller="ChucVu" asp-action="lisChucVu"> Chức Vụ</a>
    <a type="submit" value="submit" class="primary-btn" asp-controller="GiamGia" asp-action="listGiamGia"> Giảm Giá</a>
    <a type="submit" value="submit" class="primary-btn" asp-controller="Mau" asp-action="listMau"> Màu</a>
    <a type="submit" value="submit" class="primary-btn" asp-controller="SanPham" asp-action="listSp">Sản Phẩm</a>
    <a type="submit" value="submit" class="primary-btn" asp-controller="Size" asp-action="lisSize">Size</a>
    <a type="submit" value="submit" class="primary-btn" asp-controller="Sale" asp-action="XemSale">Sale </a>
   

</div>

