@model BanGiayTheThao.Models.Mau

@{
    ViewData["Title"] = "Sua";
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>NSX</h1>
            </div>
        </div>
    </div>
</section>

<h1>Sua</h1>

<h4>Mau</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Sua">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdMau" class="control-label"></label>
                <input asp-for="IdMau" class="form-control" />
                <span asp-validation-for="IdMau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaMau" class="control-label"></label>
                <input asp-for="MaMau" class="form-control" />
                <span asp-validation-for="MaMau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenMau" class="control-label"></label>
                <input asp-for="TenMau" class="form-control" />
                <span asp-validation-for="TenMau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

